<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>footer</title>
    </head>
    <body>
        <footer th:fragment="footer">
            <div>
                <p class="text-center">
                    Desigin By KingStar
                </p>
                <p class="text-center"><!--时间显示-->
                    <!--[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')}]]-->
                    2019年5月
                </p>
            </div>
        </footer>
    </body>
</html>