<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>header</title>
        <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}"/>
    </head>
    <body>
        <footer th:fragment="header">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a th:href="@{/}">Home</a></li>
                <li role="presentation"><a th:href="@{/user/list}">用户列表</a></li>
                <li role="presentation"><a th:href="@{/bookreview/list}">书评列表</a></li>
                <li role="presentation"><a th:href="@{/doubanbook/list}">豆瓣图书TOP250</a></li>
                <li role="presentation"><a th:href="@{/doubanbook/getFirstReview}">豆瓣热门书评</a></li>
                <!--<li role="presentation"><a th:href="@{/doubanbook/reviewPage}">豆瓣全部热门书评</a></li>-->
                <li role="presentation"><a href="#">作者信息</a></li>
            </ul>
        </footer>
    </body>
</html>