<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}"/>
</head>
<body class="container">
<h1>用户信息</h1>
<div>
    <p th:text="'用户ID: '+${user.getUserid()}">2</p>
    <p th:text="'用户姓名: '+${user.getUsername()}">leo</p>
    <p th:text="'用户密码: '+${user.getPassword()}">pwd</p>
    <p th:text="'用户年龄: '+${user.getAge()}">13</p>
</div>

<script th:src="@{~/static/js/bootstrap.js}"></script>
<script th:src="@{~/static/js/bootstrap.min.js}"></script>
</body>
</html>