<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}"/>

</head>
<body class="container">
<div>
    <div th:replace="layout/header::header"></div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3>用户列表</h3></div>
    <div class="panel-body">
        <p>用于测试的用户列表，包含了用户基本信息列表显示，具体信息查看，添加、删除用户等功能</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a th:href="@{/user/toAdd}" class="btn btn-default">add</a>
            <a>  </a>
            <a type="reset" class="btn btn-default">reset</a>
            <a>  </a>

        </li>
    </ul>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>password</th>
            <th>age</th>
            <th>details</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${page.content}">
            <th scope="row" th:text="${user.getUserid()}">2</th>
            <th th:text="${user.getUsername()}">leo</th>
            <th th:text="${user.getPassword()}">pwd</th>
            <th th:text="${user.getAge()}">13</th>
            <th><a th:href="@{/user/findById(id=${user.getUserid()})}" >查看</a></th>
            <th><a th:href="@{/user/deleteById(id=${user.getUserid()})}" >删除</a></th>
        </tr>
        </tbody>
    </table>
    <ul class="list-group">
        <li class="list-group-item">
            <a  class="btn-default" th:href="@{/user/list(start=0)}">[首页]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:if="${not page.isFirst()}" th:href="@{/user/list(start=${page.number-1})}">[上页]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:if="${not page.isLast()}" th:href="@{/user/list(start=${page.number+1})}">[下页]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/user/list(start=${page.totalPages-1})}">[末页]</a>
        </li>
    </ul>
</div>
<div>
    <div th:replace="layout/footer::footer"></div>
</div>
<script th:src="@{~/static/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{~/static/js/bootstrap.js}"></script>
<script th:src="@{~/static/js/bootstrap.min.js}"></script>
<script th:src="@{~/static/js/modal.js}"></script>
</body>
</html>