<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}"/>
</head>
<body class="container">
<!--页头-->
<div>
    <div th:replace="layout/header::header"></div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>书评内容</h3>
    </div>

    <ul class="list-group">
        <li class="list-group-item" th:text="${bookReview.getReviewname()}">Cras justo odio</li>
        <li class="list-group-item" th:text="${bookReview.getReviewauthor()}">Dapibus ac facilisis in</li>
        <li class="list-group-item" th:text="${bookReview.getReviewtime()}">Morbi leo risus</li>
    </ul>
    <div class="panel-body">
        <p class="text-center" th:text="${bookReview.getReviewcontent()}">13</p>
    </div>
</div>
<div>
    <div th:replace="layout/footer::footer"></div>
</div>
<script th:src="@{~/static/js/bootstrap.js}"></script>
<script th:src="@{~/static/js/bootstrap.min.js}"></script>
</body>
</html>