<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}"/>
</head>
<body class="container">
<div>
    <div th:replace="layout/header::header"></div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3>书评列表</h3></div>
    <div class="panel-body">
        <p>豆瓣热门书评信息列表</p>
    </div>

    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>id</th>
            <th>review name</th>
            <th>author name</th>
            <th>book name</th>
            <th>time</th>
            <th>review content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bookReview: ${bookReviews}">
            <th scope="row" th:text="${bookReview.getReviewid()}">2</th>
            <th th:text="${bookReview.getReviewname()}">leo</th>
            <th th:text="${bookReview.getReviewauthor()}">pwd</th>
            <th th:text="'《'+${bookReview.getBookname()}+'》'">13</th>
            <th th:text="${bookReview.getReviewtime()}"></th>
            <th><a th:href="@{/bookreview/review(id=${bookReview.getReviewid()})}">content</a></th>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{~/static/js/bootstrap.js}"></script>
<script th:src="@{~/static/js/bootstrap.min.js}"></script>
</body>
</html>