<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}"/>

</head>
<body class="container">
<div>
    <div th:replace="layout/header::header"></div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3>豆瓣热门书评</h3></div>
    <div class="panel-body">
        <p>豆瓣热门书评</p>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>书评名</th>
            <th>书评作者</th>
            <th>书名</th>
            <th>有用</th>
            <th>没用</th>
            <th>书评地址</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review: ${page.content}">
            <th scope="row" th:text="${review.getBookReviewName()}">2</th>
            <th th:text="${review.getBookReviewAuthor()}">leo</th>
            <th th:text="${review.getBookName()}">pwd</th>
            <th th:text="${review.getIsUseful()}">13</th>
            <th th:text="${review.getIsUseless()}">13</th>
            <th><a th:href="${review.getReviewAddress()}">地址</a></th>
        </tr>
        </tbody>
    </table>
    <ul class="list-group">
        <li class="list-group-item">
            <a  class="btn-default" th:href="@{/doubanbook/reviewPage(start=0)}">[首页]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:if="${not page.isFirst()}" th:href="@{/doubanbook/reviewPage(start=${page.number-1})}">[上页]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:if="${not page.isLast()}" th:href="@{/doubanbook/reviewPage(start=${page.number+1})}">[下页]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/doubanbook/reviewPage(start=${page.totalPages-1})}">[末页]</a>
        </li>
    </ul>
</div>
<div>
    <div th:replace="layout/footer::footer"></div>
</div>
<script th:src="@{~/static/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{~/static/js/bootstrap.js}"></script>
<script th:src="@{~/static/js/bootstrap.min.js}"></script>
<script th:src="@{~/static/js/modal.js}"></script>
</body>
</html>