<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}"/>

</head>
<body class="container">
<div>
    <div th:replace="layout/header::header"></div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3>豆瓣书籍TOP250</h3></div>
    <div class="panel-body">
        <p>豆瓣评分最高的250本书籍</p>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>书名</th>
            <th>作者</th>
            <th>评分</th>
            <th>评论数</th>
            <th>热门短评</th>
            <!--<th>地址</th>
            <th>图片</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${page.content}">
            <th ><a th:text="${book.getBookName()}" th:href="${book.getBookAddress()}"></a></th>
            <th th:text="${book.getBookAuthor()}">leo</th>
            <th th:text="${book.getBookScore()}">pwd</th>
            <th th:text="${book.getBookEvaluate()}">13</th>
            <th ><a th:href="@{/doubanbook/simpleReview(url=${book.getBookAddress()})}">点击</a></th>
            <!--<th><a th:href="${book.getBookAddress()}">地址</a></th>
            <th><a th:href="${book.getBookImg()}">图片地址</a></th>-->
        </tr>
        </tbody>
    </table>
    <ul class="list-group">
        <li class="list-group-item">
            <a  class="btn-default" th:href="@{/doubanbook/list(start=0)}">[首页]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:if="${not page.isFirst()}" th:href="@{/doubanbook/list(start=${page.number-1})}">[上页]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:if="${not page.isLast()}" th:href="@{/doubanbook/list(start=${page.number+1})}">[下页]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/doubanbook/list(start=${page.totalPages-1})}">[末页]</a>
        </li>
    </ul>
</div>
<div>
    <div th:replace="layout/footer::footer"></div>
</div>
<script th:src="@{~/static/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{~/static/js/bootstrap.js}"></script>
<script th:src="@{~/static/js/bootstrap.min.js}"></script>
<script th:src="@{~/static/js/modal.js}"></script>
</body>
</html>