<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}"/>

</head>
<body class="container">
<div>
    <div th:replace="layout/header::header"></div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3>豆瓣热门书评</h3></div>
    <div class="panel-body">
        <p>豆瓣热门书评</p>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>书评ID</th>
            <th>书评名</th>
            <th>书评作者</th>
            <th>书名</th>
            <th>评论时间</th>
            <th>有用</th>
            <th>没用</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review: ${bookReviews}">
            <th th:text="${review.getReviewId()}"></th>
            <th ><a th:text="${review.getBookReviewName()}" th:href="${review.getReviewAddress()}"></a></th>
            <th th:text="${review.getBookReviewAuthor()}">leo</th>
            <th th:text="${review.getBookName()}">pwd</th>
            <th th:text="${review.getReviewTime()}">sss</th>
            <th th:text="${review.getIsUseful()}">13</th>
            <th th:text="${review.getIsUseless()}">13</th>
        </tr>
        </tbody>
    </table>
    <ul class="list-group">
        <li class="list-group-item">
            <a  class="btn-default" th:href="@{/doubanbook/getFirstReview(num=0)}">[首页]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/doubanbook/getFirstReview(num=1)}">[2]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/doubanbook/getFirstReview(num=2)}">[3]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/doubanbook/getFirstReview(num=3)}">[4]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/doubanbook/getFirstReview(num=4)}">[5]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/doubanbook/getFirstReview(num=5)}">[6]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/doubanbook/getFirstReview(num=5)}">[7]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/doubanbook/getFirstReview(num=7)}">[8]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/doubanbook/getFirstReview(num=8)}">[9]</a>&nbsp;&nbsp;
            <a  class="btn-default" th:href="@{/doubanbook/getFirstReview(num=9)}">[末页]</a>&nbsp;&nbsp;
        </li>
    </ul>
</div>
<div>
    <div th:replace="layout/footer::footer"></div>
</div>
<script th:src="@{~/static/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{~/static/js/bootstrap.js}"></script>
<script th:src="@{~/static/js/bootstrap.min.js}"></script>
<script th:src="@{~/static/js/modal.js}"></script>
</body>
</html>