<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>地图服务</title>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <title>地图显示</title>
    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
            margin: 0px;
        }
    </style>
</head>
<body class="container">
<div>
    <div th:replace="layout/header::header"></div>
</div>
<div id="container" tabindex="0"></div>
<!-- 加载地图JSAPI脚本 -->
<script src="https://webapi.amap.com/maps?v=1.4.14&key=66c60b46640b478a91b39659f5a83dd9"></script>
<script>
    var map = new AMap.Map('container', {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom:11, //初始化地图层级
        center: [116.397428, 39.90923] //初始化地图中心点
    });
    AMap.plugins('AMap.ToolBar', function () {
        var toolbar = new AMap.ToobBar();
        map.addController(toolbar)
    })
</script>
<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>
<div>
    <div th:replace="layout/footer::footer"></div>
</div>
</body>
</html>